body {
  background-color: #333;
  margin: 0;
}
.contenedor {
  background-color: #ccc;
  border: 2px solid black;
  width: 550px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 173px;
}
.rows {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;
}
.contenido {
  background-color: yellow;
  border: 1px solid blue;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
